div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj5814 {
position: absolute;
overflow: hidden;
top: -17px;
left: -179px;
width: 1009px;
height: 758px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5814_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1009px;
	height: 758px;
}
div#obj5947 {
position: absolute;
overflow: hidden;
top: 12px;
left: -96px;
width: 607px;
height: 712px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5947_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 607px;
	height: 712px;
}
div#obj5827 {
position: absolute;
overflow: hidden;
top: 186px;
left: 101px;
width: 105px;
height: 105px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5827_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 105px;
	height: 105px;
}
div#obj5831 {
position: absolute;
overflow: hidden;
top: 307px;
left: 101px;
width: 105px;
height: 105px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5831_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 105px;
	height: 105px;
}
div#obj5835 {
position: absolute;
overflow: hidden;
top: 185px;
left: 221px;
width: 105px;
height: 105px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5835_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 105px;
	height: 105px;
}
div#obj5837 {
position: absolute;
overflow: hidden;
top: 307px;
left: 221px;
width: 105px;
height: 105px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5837_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 105px;
	height: 105px;
}
div#obj5954 {
position: absolute;
overflow: hidden;
top: 427px;
left: 101px;
width: 105px;
height: 105px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5954_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 105px;
	height: 105px;
}
div#obj5957 {
position: absolute;
overflow: hidden;
top: 427px;
left: 221px;
width: 105px;
height: 105px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj5957_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 105px;
	height: 105px;
}
div#obj6029 {
position: absolute;
overflow: hidden;
top: 205px;
left: 120px;
width: 64px;
height: 64px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6029_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 64px;
	height: 64px;
}
div#obj6030 {
position: absolute;
overflow: hidden;
top: 331px;
left: 245px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6030_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57px;
	height: 57px;
}
div#obj6031 {
position: absolute;
overflow: hidden;
top: 451px;
left: 245px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6031_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57px;
	height: 57px;
}
div#obj6032 {
position: absolute;
overflow: hidden;
top: 324px;
left: 118px;
width: 71px;
height: 71px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6032_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 71px;
	height: 71px;
}
div#obj6033 {
position: absolute;
overflow: hidden;
top: 202px;
left: 238px;
width: 71px;
height: 71px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6033_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 71px;
	height: 71px;
}
div#obj6218 {
position: absolute;
overflow: hidden;
top: 444px;
left: 118px;
width: 71px;
height: 71px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6218_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 71px;
	height: 71px;
}
div#obj6331 {
position: absolute;
overflow: hidden;
top: 52px;
left: 111px;
width: 192px;
height: 139px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6331_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 139px;
}
div#obj6316 {
position: absolute;
overflow: hidden;
top: 556px;
left: 155px;
width: 104px;
height: 104px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6316_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 104px;
	height: 104px;
}

div#obj6562 {
position: absolute;
overflow: hidden;
top: 699px;
left: 79px;
width: 257px;
height: 27px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj6562_content {
}



div#obj6039 {
position: absolute;
overflow: hidden;
top: 185px;
left: 220px;
width: 106px;
height: 104px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj6052 {
position: absolute;
overflow: hidden;
top: 185px;
left: 99px;
width: 106px;
height: 104px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj6065 {
position: absolute;
overflow: hidden;
top: 307px;
left: 220px;
width: 106px;
height: 104px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj6091 {
position: absolute;
overflow: hidden;
top: 427px;
left: 222px;
width: 106px;
height: 104px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj6104 {
position: absolute;
overflow: hidden;
top: 427px;
left: 102px;
width: 106px;
height: 104px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj6078 {
position: absolute;
overflow: hidden;
top: 307px;
left: 100px;
width: 106px;
height: 104px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(0,0,0,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}

audio#obj6224 {
position: absolute;
overflow: hidden;
top: 912px;
left: -48px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj6225 {
position: absolute;
overflow: hidden;
top: 1156px;
left: 11px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj6226 {
position: absolute;
overflow: hidden;
top: 1138px;
left: -346px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj6227 {
position: absolute;
overflow: hidden;
top: 923px;
left: -369px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj6228 {
position: absolute;
overflow: hidden;
top: 1150px;
left: 404px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj6229 {
position: absolute;
overflow: hidden;
top: 924px;
left: 396px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
